formatted style print, 
unformatted style print

In [1]:
#unformatted print style
print('Hello welcome to my world!')
#formatted print style
print('%s'%'Hello welcome to my world!')

Hello welcome to my world!
Hello welcome to my world!

In [2]:
print('hi')
x=10
print('%d'%x)
print(x)
print(type(x))
print('x value is %i' %x)
print('value of x :',x)#comma, is appended and adds a space with it

hi
10
10
<class 'int'>
x value is 10
value of x : 10

In [3]:
10+20

30

In [5]:
'10'+'20'

'1020'

In [10]:
a=1 ;b =20
c,d=1,'string'
print(a,b,c,d)
print("hello guy's")

1 20 1 string
hello guy's

## list

In [22]:
list1=range(0,9)
print(list1)
type(list1)
list1[2]

range(0, 9)

2

In [23]:
len(list1)

9

In [24]:
help(list1)

Help on range object:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [30]:
a=[1,2,'str']
a.append('ke')
a.append(1)
print(a)
del a[1]

[1, 2, 'str', 'ke', 1]

In [47]:
print(a)
a.insert(1,1)#ran 2 times
print(a)
a.index(1)

[10, 1, 10, 10, 10, 10, 'str', 'ke']
[10, 1, 1, 10, 10, 10, 10, 'str', 'ke']

1

In [48]:
a.remove(1)
print(a)

[10, 1, 10, 10, 10, 10, 'str', 'ke']

In [59]:
lis1=(range(5,10))
lis2=(range(5,10,-3))

In [71]:
lis2

range(5, 10, -3)

In [50]:
a.pop()

'ke'

In [53]:
a.remove(10)

In [55]:
print(a)

[1, 10, 10, 10, 10, 'str']

In [76]:
a=[1,2,3,4,5,6,7,89,10]
a[1:]

[2, 3, 4, 5, 6, 7, 89, 10]

In [85]:
print(a[9:0:-2])
print(a[:-1])

[10, 7, 5, 3]
[1, 2, 3, 4, 5, 6, 7, 89]

## tuple

In [87]:
tup=(1,3,2,'string')

In [92]:
c=tuple(['1','1','4'])
print(type(tup))
print(type(c))

<class 'tuple'>
<class 'tuple'>

In [88]:
print(tup.count(3))
print(tup.index(1))

1
0

## dictonary

In [94]:
dict1={'india':1234567,'china':90909}
dict1

{'china': 90909, 'india': 1234567}

In [96]:
dict1.clear()
print(dict1)

{}

In [119]:
dict1={'india':1234567,'china':90909}
dict1.keys()

dict_keys(['india', 'china'])

In [120]:
print(dict1.pop('china'))
print(dict1)

90909
{'india': 1234567}

In [117]:
dict1={'india':1234567,'china':90909}
dict1.popitem()
print(dict1)

{'india': 1234567}